---
layout: default
bodyClass: "page-researches"
---
<style>
.researches a.paper-title{
  color:#0d00b2;
}

.researches a{
  color:#333
}

.researches b{
  color: #e37133
}

</style>

<div >
<div class="container pt-12 pb-12 researches" >
  <br>
  <b>Full list can be founded at <a style="font-size: 16px; font-family: Helvetica, Arial, sans-serif;" href="https://scholar.google.com/citations?user=p42qwXcAAAAJ" > [Google Scholar] </b></a> <span style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; "> (🧑‍💻 Co-first Author, 📮 Corresponding Author) </span>
  <br>
  <div class="row">
      {% assign sorted_items = site.researches | group_by: "year" | reverse %}
      {% assign counter = site.researches | size %}
      <div style="font-size: 30px; font-weight: 400;">Preprint</div>
      <hr>
      {% for coll in sorted_items %}
          {% assign my_integer_number = coll.name | to_integer %}
          {% assign sorted_ser = coll.items | sort: "date" | reverse %}
          {% for service in sorted_ser %}
              {% if service.publication == 'Preprint' %}
              <div class="service service-summary" style="padding-bottom: 15px;">
                <div class="service-content">
                  <!-- <img src="{{service.image}}"> -->
                  <div> 
                    <a class='paper-title'  style="font-weight: 700;" href="{{ service.arxiv_url }}">{{counter}}. {{ service.title }}</a><br> {{ service.authors ｜ truncate: 100 }}<br> {{ service.publication}}, {{service.year}}. 
                    {% if service.code%}
                          <div style="display: inline;" class="xcode">
                                <a href="{{post.code}}">
                                  <img src="https://img.shields.io/github/stars/{{service.code| replace:'https://github.com/', ''}}?style=social"/>
                                </a>
                          </div>
                          <br>
                          {{service.highlight_reason}} 
                  </div>
                </div>
              </div>
              {% endif %}
              {% assign counter = counter | minus:1 %}
              {% endif %}
          {% endfor %}
      {% endfor %}
    </div>
     
      <div class="col-12">
      {% for coll in sorted_items %}
        {% assign my_integer_number = coll.name | to_integer %}
        {% if my_integer_number > 2021 %}
          <br>
          <div  style="font-size: 30px; font-weight: 400;"> Year {{coll.name}}</div>
          <hr>
          {% assign sorted_ser = coll.items | sort: "date" | reverse %}
          {% for service in sorted_ser %}
              {% if service.publication == 'Preprint' %}
              {% else %}
              <div class="service service-summary" style="padding-bottom: 15px;">
                <div class="service-content">
                  <div> 
                    <a class='paper-title' style="font-weight: 700;" href="{{ service.arxiv_url }}">{{counter}}. {{ service.title }}</a><br> 
                    <span>{{ service.authors ｜ truncate: 100 }}</span> <br> 
                    {{ service.publication}}, {{service.year}}. 
                    {% if service.code%}
                      <div style="display: inline;" class="xcode">
                      <a href="{{post.code}}"><img src="https://img.shields.io/github/stars/{{service.code| replace:'https://github.com/', ''}}?style=social"/></a>
                      </div>
                    {% endif %}
                    <br>
                    {{service.highlight_reason}} 
                  </div>
                </div>
              </div>
              {% assign counter = counter | minus:1 %}
              {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
      
      <div style="font-size: 30px; font-weight: 400;">Before 2021</div>
      <hr>
      {% for coll in sorted_items %}
        {% assign my_integer_number = coll.name | to_integer %}
        {% if my_integer_number < 2022 %}
          {% assign sorted_ser = coll.items | sort: "date" | reverse %}
          {% for service in sorted_ser %}
              {% if service.publication == 'Preprint' %}
              {% else %}
              <div class="service service-summary" style="padding-bottom: 15px;">
                <div class="service-content">
                  <!-- <img src="{{service.image}}"> -->
                  <div> <a class='paper-title'  style="font-weight: 700;" href="{{ service.arxiv_url }}">{{counter}}. {{ service.title }}</a><br> {{ service.authors ｜ truncate: 100 }}<br> {{ service.publication}}, {{service.year}}. {% if service.code%}
                    <div style="display: inline;" class="xcode">
                    <a href="{{post.code}}"><img src="https://img.shields.io/github/stars/{{service.code| replace:'https://github.com/', ''}}?style=social"/></a>
                    </div>
                    {% endif %}
                    <br>
                    {{service.highlight_reason}} </div>
                </div>
              </div>
              {% assign counter = counter | minus:1 %}
              {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
  </div>
</div>
</div>